In [2]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [19]:
titanic = pd.DataFrame([[134,59], [94,25], [80,58]], columns=['Female', 'Male'], index=['1st', '2nd', '3rd'])

In [4]:
titanic

     Female  Male
1st     134    59
2nd      94    25
3rd      80    58

### Problem 1 : The number of people who survived the Titanic based on class and sex is in table #11.1.5 ("Encyclopedia Titanica," 2013). Is there enough evidence to show that the class and the sex of a person who survived the Titanic are independent? Test at the 5% level.

In [5]:
df = chi2_contingency(titanic)
df

(13.224787991120508,
 0.001343611695639983,
 2,
 array([[132.09777778,  60.90222222],
        [ 81.44888889,  37.55111111],
        [ 94.45333333,  43.54666667]]))

In [6]:
pd.DataFrame(df[3], columns=['Female', 'Male'], index=['1st', '2nd', '3rd']).round(2) # Expected Values

     Female   Male
1st  132.10  60.90
2nd   81.45  37.55
3rd   94.45  43.55

In [7]:
dOf = df[2]  # degree of freedom
dOf

2

In [8]:
chi2 = df[0] # chi square value
chi2

13.224787991120508

In [20]:
pvalue = df[1]
significance = 0.05

print("pvalue = %.3f" %pvalue)
print("significance = %.2f" %significance)

if(pvalue<significance):
    print("We reject null hypothesis. They are not Independent.")
else:
    print("We accept null hypothesis. They are Independent.")

pvalue = 0.001
significance = 0.05
We reject null hypothesis. They are not Independent.

### Problem 2 : Is there a relationship between autism and what an infant is fed? To determine if there is, a researcher asked mothers of autistic and non-autistic children to say what they fed their infant. The data is in table #11.1.7 (Schulz, Klonoff-Cohen Wingard, Askhoomoff, Macera, Ji & Bacher, 2006). Do the data provide enough evidence to show that that what an infant is fed and autism are independent? Test at the1% level.

In [11]:
feeding = pd.DataFrame([[12,39,65],[6,22,10]], 
columns=['Breast-feeding', 'Formula with DHA/ARA','Formula without DHA/ARA'], index=['Yes', 'No'])

In [12]:
feeding

     Breast-feeding  Formula with DHA/ARA  Formula without DHA/ARA
Yes              12                    39                       65
No                6                    22                       10

In [13]:
df1 = chi2_contingency(feeding)
df1

(10.174724544543945,
 0.006174284508365947,
 2,
 array([[13.55844156, 45.94805195, 56.49350649],
        [ 4.44155844, 15.05194805, 18.50649351]]))

In [14]:
pd.DataFrame(df1[3], columns=['Breast-feeding', 
                             'Formula with DHA/ARA','Formula without DHA/ARA'], index=['Yes', 'No']).round(2) # Expected Values

     Breast-feeding  Formula with DHA/ARA  Formula without DHA/ARA
Yes           13.56                 45.95                    56.49
No             4.44                 15.05                    18.51

In [23]:
dOf = df1[2] # degree of freedom
dOf

2

In [22]:
chi2 = df1[0] # chi square value
chi2

10.174724544543945

In [21]:
pvalue = df1[1]
significance = 0.01

print("pvalue = %.3f" %pvalue)
print("significance = %.2f" %significance)

if(pvalue<significance):
    print("We reject null hypothesis. They are not Independent.")
else:
    print("We accept null hypothesis. They are Independent.")

pvalue = 0.006
significance = 0.01
We reject null hypothesis. They are not Independent.